.btn,
.btn-primary,
.btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
  padding: 0 64px;
  min-height: 96px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  white-space: nowrap;
  width: 100%;
}
.btn::after,
.btn-primary::after,
.btn-outline::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  /* background-image: url('../assets/images/default-arrow.svg'); */
  mask: url('../assets/images/arrow-for-btn.svg') no-repeat center;
  -webkit-mask: url('../assets/images/arrow-for-btn.svg') no-repeat center;
  mask-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-primary::after {
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
}
.btn-outline::after {
  background-color: var(--blue);
  transition: all 0.4s ease-in-out;
}
.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-outline {
  background-color: transparent;
  color: #3b70c4;
}

.btn-primary:hover {
  background-color: #3f6dc2;
}

.btn-outline:hover {
  background-color: var(--blue);
  color: var(--white);
}
.btn-outline:hover::after {
  background-color: var(--white);
}

/* Маленькие кнопки со стрелкой  */
.btns-arrow_white,
.btns-arrow_blue {
  display: flex;
  /* min-height: 96px; */
  transition: all 0.4s ease-in-out;
}

.btns-arrow_white button,
.btns-arrow_blue button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 38px 60px; */
  min-height: 96px;
  transition: all 0.4s ease-in-out;
}
.btns-arrow_white button:last-child,
.btns-arrow_blue button:last-child {
  border-left: 0.5px solid #e0e0e0;
}
.btns-arrow_white button:last-child svg,
.btns-arrow_blue button:last-child svg {
  transform: scaleX(-1);
}
/* для белых */
.btns-arrow_white button:hover {
  background-color: var(--blue);
}
.btns-arrow_white button:hover svg {
  color: white;
}
.btns-arrow_blue button svg {
  color: var(--white);
}
/* для синих */
.btns-arrow_blue button:hover {
  background-color: #3f6dc2;
}
/* .btns-arrow_blue button:hover svg {
  background-color: #3f6dc2;
} */

@media (max-width: 1200px) {
  .btn,
  .btn-primary,
  .btn-outline {
    padding: 0 32px;
  }
}
