#faq .col-2 {
  grid-column: 2 / span 3;
}
#faq .col-2 {
  min-width: 100%;
}
.faq_middle .col-2 {
  padding: 0px;
}
.faq_bottom .grid-line {
  min-height: 128px;
}
.faq_bottom .grid-line:last-child {
  grid-column: 2 / span 3;
}
#faq h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.accord__cards {
  min-width: 100%;
}
.accord__cards > div {
  border-bottom: 0.5px solid #e0e0e0;
}

.accord__card {
  cursor: pointer;
  padding: 35px 64px;
}

.accord__card_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.accord__card_content {
  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: all 0.4s ease-in-out;
}
.accord__card_content p {
  margin-top: 16px;
  max-width: 544px;
  height: 100%;
  font-size: 14px;
}

.accord__card_title_plus {
  transition: all 0.4s ease-in-out;
  color: var(--darkBlue);
}
.accord__card_title_plus.active {
  rotate: 45deg;
  color: var(--blue);
}
.accord__card_title_plus svg {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

@media (max-width: 1000px) {
  #faq .col-2 {
    grid-column: 1;
  }
  .accord__card {
    padding: 35px 32px;
  }
  .faq_bottom .grid-line {
    display: none;
  }
}
