#hero .col-3 {
  grid-column: 2 / span 3;
}
.hero_title {
  display: flex;
  gap: 24px;
}
.hero_title div:first-child {
  flex: 1 1 70%;
}
.hero_title div:first-child p {
  max-width: 680px;
}

#hero a {
  padding: 20px 32px;
}
.hero_bottom .col-2 {
  padding: 0;
  grid-column: 2 / span 3;
}
@media (max-width: 1000px) {
  #hero .col-3,
  .hero_bottom .col-2 {
    grid-column: 1;
  }
  .hero_title {
    flex-direction: column;
  }
  .hero_title div:first-child {
    flex: 1 1 100%;
  }
  .hero_title div:last-child {
    flex: 1 1 100%;
  }
}
