#reviews h2 {
  padding: 64px;
  margin-bottom: 0;
}
#reviews .btns-arrow_white button {
  color: #578bec;
}

#reviews .col-3 div {
  display: flex;
  padding: 64px;
  margin-top: 74px;
}
#reviews .col-3 div img {
  max-width: 140px;
}
#reviews .col-2,
#reviews .col-3 {
  padding: 0;
  flex-direction: column;
}
#reviews .col-3 a {
  border-top: 0.5px solid #e0e0e0;
}
#reviews .col-3 {
  justify-content: end;
}
#reviews .btns-arrow_white {
  min-height: 96px;
  border-top: 0.5px solid #e0e0e0;
}
#reviews .swiper {
  width: 100%;
}
#reviews .reviews_bottom .col-2 {
  grid-column: 1 / span 4;
}

#reviews .swiper-slide {
  display: flex;
  flex-direction: column;
}
.reviews_user {
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.reviews_name {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3d4d6d;
  line-height: 180%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.reviews_grade {
  display: flex;
  gap: 8px;
}
.reviews_grade div {
  display: flex;
  width: 16px;
  height: 16px;
}
.reviews_text {
  line-height: 180%;
}
#reviews .swiper-slide-active,
#reviews .swiper-slide-next {
  border-left: 0.5px solid #e0e0e0;
}
#reviews .swiper-slide .grayscale-hover {
  height: 400px;
  overflow: hidden;
}
#reviews .swiper-slide .grayscale-hover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
#reviews .swiper-slide-active .grayscale-hover {
  filter: grayscale(0%);
}

#reviews .container {
  overflow: hidden;
}
#reviews .swiper-slide {
  width: calc(100% / 4 * 2);
}

/* @media (max-width: 800px) {
  #reviews .swiper-slide-active .grayscale-hover {
    filter: grayscale(0%) !important;
  }
  #reviews .swiper-slide-next .grayscale-hover {
    filter: grayscale(100%) !important;
  }
} */
@media (max-width: 1000px) {
  #reviews .col-2 {
    gap: unset;
  }
  #reviews h2 {
    padding: 32px;
  }

  #reviews .col-2 {
    grid-row: 3;
  }
  #reviews .col-3 {
    grid-row: 2;
  }
  #reviews .reviews_bottom .col-2 {
    grid-column: 1;
  }
}
@media (max-width: 1200px) {
  #reviews h2 {
    padding: 32px !important;
  }
  #reviews .col-3 div {
    padding: 32px !important;
  }
  .reviews_user {
    padding: 32px;
  }
}
